.date {
  color: var(--color2);
  font-size: 2.7em;
  font-family: var(--hfont);
}

img {
  height: 180px;
  width: auto;
}

.currentTemp {
  font: var(--bfont);
  font-size: .9em;
  font-weight: 500;
}
