.date {
  color: var(--updatedColor2);
  font-size: 2.7em;
  font-family: var(--hfont);
  margin-bottom: 8px;
  padding-bottom: 5px;
}

img {
  height: 170px;
  width: auto;
}

.currentTemp {
  font: var(--bfont);
  color: var(--updatedColor3);
  font-size: .9em;
  font-weight: 500;
}

.dayDiv {
  color: var(--updatedColor5);
}

