.date {
  color: var(--updatedColor3);
  font-size: 2.7em;
  font-family: var(--hfont);
}

img {
  height: auto;
  width: auto;
}

.currentTemp {
  font: var(--bfont);
  font-size: .9em;
  font-weight: 500;
}

/* .dayDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */