* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.componentContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 20%;
  font-family: var(--bfont);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  padding: 2em;
}

.backgroundContainer {
  width: 100vw;
  height: 200vh;
  overflow: hidden;
  position: relative;
}

@-webkit-keyframes aura {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  20% {
    -webkit-transform: translateY(100px) rotate(1deg);
            transform: translateY(100px) rotate(1deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(16deg);
            transform: translateY(-10px) rotate(16deg);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

@keyframes aura {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  20% {
    -webkit-transform: translateY(100px) rotate(1deg);
            transform: translateY(100px) rotate(1deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  60% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(16deg);
            transform: translateY(-10px) rotate(16deg);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

@-webkit-keyframes northern {
  0% {
    -webkit-transform: translate(5%, -2%);
            transform: translate(5%, -2%);
  }
  25% {
    -webkit-transform: translate(10%, 7%);
            transform: translate(10%, 7%);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: translate(7%, -2%);
            transform: translate(7%, -2%);
  }
  85% {
    -webkit-transform: translate(6%, 3%) rotate(12deg);
            transform: translate(6%, 3%) rotate(12deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes northern {
  0% {
    -webkit-transform: translate(5%, -2%);
            transform: translate(5%, -2%);
  }
  25% {
    -webkit-transform: translate(10%, 7%);
            transform: translate(10%, 7%);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: translate(7%, -2%);
            transform: translate(7%, -2%);
  }
  85% {
    -webkit-transform: translate(6%, 3%) rotate(12deg);
            transform: translate(6%, 3%) rotate(12deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.auroralStars {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: white;
  background-repeat: cover;
  box-shadow: 119vw 46vh 0 1px rgba(255, 255, 255, 0.7), 17vw 47vh 0 2px rgba(255, 255, 255, 0.7), 98vw 35vh 0 1px rgba(255, 255, 255, 0.7), 94vw 25vh 0 1px rgba(255, 255, 255, 0.7), 33vw 46vh 0 1px rgba(255, 255, 255, 0.7), 11vw 5vh 0 2px rgba(255, 255, 255, 0.7), 44vw 47vh 0 2px rgba(255, 255, 255, 0.7), 74vw 4vh 0 2px rgba(255, 255, 255, 0.7), 28vw 18vh 0 2px rgba(255, 255, 255, 0.7), 45vw 45vh 0 1px rgba(255, 255, 255, 0.7), 18vw 26vh 0 1px rgba(255, 255, 255, 0.7), 57vw 44vh 0 2px rgba(255, 255, 255, 0.7), 64vw 28vh 0 2px rgba(255, 255, 255, 0.7), 100vw 17vh 0 1px rgba(255, 255, 255, 0.7), 74vw 36vh 0 1px rgba(255, 255, 255, 0.7), 94vw 16vh 0 1px rgba(255, 255, 255, 0.7), 48vw 34vh 0 2px rgba(255, 255, 255, 0.7), 86vw 5vh 0 2px rgba(255, 255, 255, 0.7), 25vw 7vh 0 1px rgba(255, 255, 255, 0.7), 89vw 34vh 0 1px rgba(255, 255, 255, 0.7), 15vw 32vh 0 2px rgba(255, 255, 255, 0.7), 93vw 25vh 0 2px rgba(255, 255, 255, 0.7), 41vw 9vh 0 2px rgba(255, 255, 255, 0.7), 42vw 36vh 0 1px rgba(255, 255, 255, 0.7), 54vw 23vh 0 1px rgba(255, 255, 255, 0.7), 50vw 46vh 0 1px rgba(255, 255, 255, 0.7), 50vw 19vh 0 2px rgba(255, 255, 255, 0.7), 60vw 40vh 0 1px rgba(255, 255, 255, 0.7), 59vw 4vh 0 2px rgba(255, 255, 255, 0.7), 15vw 23vh 0 2px rgba(255, 255, 255, 0.7), 14vw 38vh 0 1px rgba(255, 255, 255, 0.7), 58vw 41vh 0 1px rgba(255, 255, 255, 0.7), 70vw 7vh 0 1px rgba(255, 255, 255, 0.7), 10vw 25vh 0 1px rgba(255, 255, 255, 0.7), 44vw 33vh 0 1px rgba(255, 255, 255, 0.7), 70vw 37vh 0 2px rgba(255, 255, 255, 0.7), 28vw 33vh 0 1px rgba(255, 255, 255, 0.7), 72vw 7vh 0 2px rgba(255, 255, 255, 0.7), 68vw 34vh 0 1px rgba(255, 255, 255, 0.7), 13vw 17vh 0 2px rgba(255, 255, 255, 0.7), 13vw 7vh 0 2px rgba(255, 255, 255, 0.7), 53vw 36vh 0 1px rgba(255, 255, 255, 0.7), 99vw 24vh 0 1px rgba(255, 255, 255, 0.7), 94vw 23vh 0 2px rgba(255, 255, 255, 0.7), 93vw 38vh 0 1px rgba(255, 255, 255, 0.7), 81vw 18vh 0 2px rgba(255, 255, 255, 0.7), 15vw 33vh 0 1px rgba(255, 255, 255, 0.7), 11vw 29vh 0 1px rgba(255, 255, 255, 0.7), 82vw 23vh 0 1px rgba(255, 255, 255, 0.7), 80vw 32vh 0 1px rgba(255, 255, 255, 0.7), 9vw 2vh 0 2px rgba(255, 255, 255, 0.7), 69vw 2vh 0 1px rgba(255, 255, 255, 0.7), 46vw 39vh 0 1px rgba(255, 255, 255, 0.7), 46vw 15vh 0 1px rgba(255, 255, 255, 0.7), 54vw 48vh 0 1px rgba(255, 255, 255, 0.7), 66vw 34vh 0 1px rgba(255, 255, 255, 0.7), 7vw 42vh 0 2px rgba(255, 255, 255, 0.7), 18vw 17vh 0 1px rgba(255, 255, 255, 0.7), 81vw 14vh 0 2px rgba(255, 255, 255, 0.7), 97vw 16vh 0 1px rgba(255, 255, 255, 0.7), 97vw 8vh 0 2px rgba(255, 255, 255, 0.7), 73vw 35vh 0 2px rgba(255, 255, 255, 0.7), 94vw 7vh 0 2px rgba(255, 255, 255, 0.7), 19vw 41vh 0 2px rgba(255, 255, 255, 0.7), 92vw 38vh 0 2px rgba(255, 255, 255, 0.7), 72vw 2vh 0 2px rgba(255, 255, 255, 0.7), 87vw 45vh 0 2px rgba(255, 255, 255, 0.7), 48vw 45vh 0 1px rgba(255, 255, 255, 0.7), 28vw 11vh 0 1px rgba(255, 255, 255, 0.7), 51vw 50vh 0 2px rgba(255, 255, 255, 0.7), 85vw 2vh 0 2px rgba(255, 255, 255, 0.7), 79vw 39vh 0 1px rgba(255, 255, 255, 0.7), 28vw 4vh 0 2px rgba(255, 255, 255, 0.7), 37vw 11vh 0 2px rgba(255, 255, 255, 0.7), 82vw 34vh 0 2px rgba(255, 255, 255, 0.7), 36vw 48vh 0 1px rgba(255, 255, 255, 0.7), 45vw 46vh 0 1px rgba(255, 255, 255, 0.7), 6vw 44vh 0 2px rgba(255, 255, 255, 0.7), 99vw 11vh 0 2px rgba(255, 255, 255, 0.7), 12vw 46vh 0 1px rgba(255, 255, 255, 0.7), 1vw 3vh 0 1px rgba(255, 255, 255, 0.7), 38vw 34vh 0 1px rgba(255, 255, 255, 0.7), 88vw 4vh 0 1px rgba(255, 255, 255, 0.7), 91vw 17vh 0 1px rgba(255, 255, 255, 0.7), 56vw 34vh 0 2px rgba(255, 255, 255, 0.7), 66vw 6vh 0 1px rgba(255, 255, 255, 0.7), 67vw 41vh 0 1px rgba(255, 255, 255, 0.7), 54vw 34vh 0 2px rgba(255, 255, 255, 0.7), 28vw 17vh 0 1px rgba(255, 255, 255, 0.7), 41vw 17vh 0 2px rgba(255, 255, 255, 0.7), 36vw 22vh 0 1px rgba(255, 255, 255, 0.7), 23vw 2vh 0 1px rgba(255, 255, 255, 0.7), 4vw 9vh 0 1px rgba(255, 255, 255, 0.7), 31vw 23vh 0 2px rgba(255, 255, 255, 0.7), 54vw 26vh 0 2px rgba(255, 255, 255, 0.7), 52vw 14vh 0 1px rgba(255, 255, 255, 0.7), 29vw 45vh 0 1px rgba(255, 255, 255, 0.7), 34vw 45vh 0 2px rgba(255, 255, 255, 0.7), 25vw 19vh 0 1px rgba(255, 255, 255, 0.7), 100vw 43vh 0 1px rgba(255, 255, 255, 0.7), 77vw 46vh 0 0 rgba(255, 255, 255, 0.9);
}

.customBackground {
  position: relative;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  -webkit-animation-name: northern;
          animation-name: northern;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: -webkit-linear-gradient(135deg, rgba(235, 167, 181, 0.308) 20%, rgba(111, 125, 146, 0.3) 70%), -webkit-linear-gradient(80deg, #c0a9a5 7%, #b8ba6f 20%, #ebcad1 40%, #95a9c7 60%);
  background: linear-gradient(-45deg, rgba(237, 124, 148, 0.3) 20%, rgba(109, 139, 184, 0.3) 70%), linear-gradient(10deg, #916b63 7%, #b8ba6f 20%, #e9cad0 40%, #ffffff 60%);
}
