@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  padding: 2em;
}

h2 {
  font-size: 2em;
  font-family: 'Gamja Flower', cursive;
}

h3 {
  font-size: .9em;
}

header {
  font-family: 'Gamja Flower', cursive;
  font-size: 5em;
  color: rgb(255, 127, 123);
}

