@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
  --color1: rgb(255, 127, 123);
  --color2: rgba(255, 171, 15);
  --color3: rgb(255, 211, 91);
  --color4: rgb(255, 232, 167);

  --hfont: 'Gamja Flower', cursive;
  --bfont: 'Noto Sans JP', sans-serif;
}

main {
  font-family: var(--bfont);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  padding: 2em;
}

header {
  font-family: var(--hfont);
  font-size: 5em;
  color: var(--color1);
}


