@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
  --color1: rgb(255, 127, 123);
  --color2: rgba(255, 171, 15);
  --color3: rgb(255, 211, 91);
  --color4: rgb(255, 232, 167);

  --updatedColor1: rgb(192, 207, 231);
  --updatedColor2: rgb(166, 176, 208);
  --updatedColor3: rgb(112, 218, 230);
  --updatedColor4: rgb(239, 231, 186);
  --updatedColor5: rgb(249, 197, 163);
  --updatedColor6: rgb(99, 123, 174);


  --hfont: 'Gamja Flower', cursive;
  --bfont: 'Noto Sans JP', sans-serif;
}

main {
  font-family: var(--bfont);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  padding: 2em;
}
