header {
  background-color: rgb(139, 212, 255, .5);
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--hfont);
  color: var(--updatedColor6);
  font-size: 3.5em;
  z-index: 3;
  margin-right: 20px;
}

.themeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
}

button {
  width: 110px;
  height: 50px;
  outline: none;
  font-family: var(--bfont);
  font-weight: 500;
  padding: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 10px 10px rgba(0,0,0,.15);
}

.moonButton {
  background-color: var(--updatedColor6);
  color: white;
}

.weatherButton {
  background-color: var(--updatedColor3);
  color: var(--updatedColor6);
}


