header {
  background-color: rgb(139, 212, 255, .5);
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--hfont);
  color: var(--updatedColor6);
  font-size: 3em;
  z-index: 3;
}



