.submitButton {
  font-family: var(--bfont);
  width: 70px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 30px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 8px 0 rgba(252, 104, 110, 0.75);
}

.submitButton:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.submitButton:focus {
  outline: none;
}

input,
span,
label {
  font-family: var(--bfont);
  font-weight: 300;
  display: block;
  margin: 5px;
  padding: 5px;
  border: none;
  font-size: 1.3em;
}

input:focus {
  outline: 0;
}
/* cityField */

input.cityField {
  font-size: 1.9em;
  font-weight: 100;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(255, 29, 29, 0);
  transition: padding-top 0.5s ease, margin-top 0.5s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.cityField + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid var(--color1);
  -webkit-transition: width 1s ease;
  transition: width 0.4s ease;
  height: 0px;
  padding-bottom: 5%;
}

input.cityField:focus + label {
  width: 80%;
}

input.cityField:focus,
input.cityField:valid {
  padding-top: 35px;
}

input.cityField:focus + label > span,
input.cityField:valid + label > span {
  top: -90px;
  font-size: .9em;
  font-weight: 100;
  color: #333;
}


input.cityField:valid + label {
  border-color: var(--color2);
}

input.cityField:invalid {
  box-shadow: none;
}

input.cityField + label > span {
  font-weight: 100;
  margin: 0px;
  position: absolute;
  color: #8F8F8F;
  font-size: 1.2em;
  top: -45px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.4s ease, font-size 0.4s ease, color 0.4s ease;
  transition: top 0.4s ease, font-size 0.4s ease, color 0.4s ease;
}
