.container {
  position: relative;
  height: 600px;
  width: auto;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.card {
  line-height: 1;
  height: 400px;
  width: 350px;
  border: 5px var(--updatedColor6) solid;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  box-shadow: 0 4px 4px 0 rgba(73, 73, 73, 0.25);
}

.loading {
  margin-top: 150px;
  font-family: var(--hfont);
  font-weight: 900;
  font-size: 2em;
  background: white;
  border: solid 5px var(--updatedColor5);
  text-align: center;
  padding: 2%;
  color: var(--updatedColor2);
}

