.container {
  position: relative;
  height: 600px;
  width: auto;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: var(--color3);
}

.card {
  height: 450px;
  width: 350px;
  text-align: center;
  background: white;
  color: "#FFF";
  box-sizing: border-box;
}

.loading {
  font-family: var(--hfont);
  font-weight: 900;
  font-size: 4em;
  color: var(--color2);
}


